html{
  scroll-snap-type: y mandatory;
}

.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background: black;
}

.app .app_container{
  position: relative;
  height: 90vh;
  margin-top: 30px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 400px;
  scroll-snap-type: y mandatory;
}

/* safari Chrome and Opera*/
.app .app_container::-webkit-scrollbar{
  display: none;
}

.app .app_container{
  -ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none; /*Firefox*/
}
